.pages{
    justify-content: center;
    margin-top:0px;
    font-family: "Comic Sans MS", 'Arial Narrow Bold', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
#right-block {
    margin-left:20%;
    position: right;
    width:80%;
    min-height: 33vh;

    text-align: right;
    object-position: left;
    margin-top: 2px;
    margin-bottom:2px;
}
#center-block {
    margin-left:10%;
    margin-right:10%;
    position: center;
    width:80%;
    min-height: 33vh;
    text-align: center;
    object-position: center;
    margin-top: 2px;
    margin-bottom:2px;
}
#left-block {
    margin-right:20%;
    position: right;
    width:80%;
    min-height: 33vh;
    text-align: left;
    vertical-align: bottom;
    object-position: right;
    margin-top:2px;
    margin-bottom:2px;
}
#left-text {
    padding-left:4px;
    margin-right:40%;
    text-align: left;
}
#right-text {
    padding-right:4px;
    margin-left:40%;
    text-align: right;
}
.heading {
    font-size: calc(8px + 2vmin);
    margin-top:0px;
    margin-bottom:0px;
}
.body {
    font-size: calc(5px + 2vmin);
    margin-top:0px;
    margin-bottom:0px;
}
.image-page {
    border-radius:8px;
    margin-right:15%;
    margin-left: 0%;
    max-height: 33vh;
}
.image-right {
    align-self:right;
    margin-right: 8%;
    margin-left:0%;
    max-height: 50vh;
}
.image-center {
    margin-left:10%;
    margin-right:30%;
}
.image-left {
    align-self:left;
    margin-top:5vh;
    margin-right: 0%;
    margin-left:0%;
    max-height: 50vh;
}